.icon {
	color: currentColor;
	display: inline-block;
	flex: 0 0 auto;
	stroke-width: 2;
	vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
	.reducedMotionOptIn {
		animation: none !important;
		transition: none !important;
	}
}
